body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.programs-container {
  display: flex;
}

.program-container {
  margin: 2px;
}

#program-container {
  margin-left: 5px;
}

.agent-name {
  text-transform: capitalize;
}